<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <style>
        .table-wrapper tbody tr:hover {background-color: #ddd;}
        .main {
            display: flex;
            justify-content: space-between;
            align-items: center; /* 세로 중앙 정렬을 위해 추가 */
            margin-top: 10px;
        }
    </style>
    <script>
        function redirectToDetailPage(id) {
            window.location.href = '/admin/employee/employee_detail/' + id;
        }

    </script>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <div th:replace="header :: headerFragment"></div>

            <header class="main">
                <h2>퇴사자 목록</h2>
            <div>
                <ul class="icons">
                    <li><a href="/admin/employee/employeeList" class="button">돌아가기</a></li>
                </ul>
            </div>
            </header>
            <!-- Content -->
            <section>
                <table class="table-wrapper">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>이메일</th>
                        <th>이름</th>
                        <th>직급</th>
                        <th>전화번호</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="employee : ${employees}" th:onclick="'redirectToDetailPage(' + ${employee.id} + ')'">
                        <td></td>
                        <td th:text="${employee.email}"></td>
                        <td th:text="${employee.employeeProfile.name}"></td>
                        <td th:text="${employee.employeeProfile.position}"></td>
                        <td th:text="${employee.employeeProfile.contactInformation}"></td>
                    </tr>
                    </tbody>
                </table>
            </section>

        </div>
    </div>

    <div th:replace="sidebar :: sidebarFragment"></div>

</div>

<!-- Scripts (Keep or adjust as per the original template) -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>