/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

/* Container styling */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Notice Detail styling */
.notice-detail {
    width: 60%;
    margin: 20px auto;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Notice Divider styling */
.notice-divider {
    height: 1px;
    background-color: #ced4da;
    margin: 20px 0;
}

/* Input styling */
input,
textarea {
    font-size: 15px;
    color: #222222;
    width: 100%; /* Full width */
    border: none;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
    background: none;
    z-index: 5;
    outline: none;
    margin-bottom: 10px; /* Add some space between input fields */
}

/* Input placeholder styling */
input::placeholder {
    color: #aaaaaa;
}

/* Input focus styling */
input:focus {
    border-bottom: solid #666 1px;
}

/* Label styling */
label {
    position: absolute;
    color: #aaa;
    left: 10px;
    font-size: 16px;
    bottom: 40px;
    font-weight: bold;
}

/* Buttons styling */
.buttons {
    display: flex;
    justify-content: space-between; /* 혹은 다른 수평 정렬 옵션 선택 가능 */
}


.editButton, .deleteButton {
    padding: 10px;
    font-size: 16px;
    border: none;
}

/* Edit Button styling */
.editButton {
    background-color: #28a745; /* Green */
    color: #ffffff;
}

/* Delete Button styling */
.deleteButton {
    background-color: #dc3545; /* Red */
    color: #ffffff;
    text-decoration-line: none;
    z-index: 10;
}
