body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}
.application-details {
    max-width: 600px;
    margin: 40px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #f56a6a; /* 강조 색상 적용 */
    font-family: "Roboto Slab", serif; /* 일관된 글꼴 적용 */
    margin-bottom: 1em; /* 여백 추가 */
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.buttons {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.approve {
    background-color: #4CAF50;
    color: white;
}
.reject {
    background-color: #f44336;
    color: white;
}
.top-buttons {
    text-align: right;
    padding: 10px;
}
.top-button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #008CBA;
    color: white;
}

table {
    width: 100%;
}
table td, table th {
    text-align: center; /* 가운데 정렬 */
}

.button, .top-button, .receive, .approve, .reject {
    background-color: transparent;
    color: #f56a6a;
    border: solid 2px #f56a6a;
    padding: 0.5em 1em;
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    border-radius: 0.375em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button:hover, .top-button:hover, .receive:hover, .approve:hover, .reject:hover {
    background-color: #f56a6a;
    color: white;
}

.buttons {
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
}
