<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Detail</title>
    <link rel="stylesheet" th:href="@{/css/employeeDetail.css}">
</head>
<body>
<h1>직원 상세정보</h1>
<table>
    <tr>
        <th class="small-width">Id</th>
        <td th:text="${employee.id}"></td>
    </tr>
    <tr>
        <th>Name</th>
        <td th:text="${employee.name}"></td>
    </tr>
    <tr>
        <th>Email</th>
        <td th:text="${employee.email}"></td>
    </tr>
    <tr>
        <th>Resident Registration Number</th>
        <td th:text="${employee.residentRegistrationNumber}"></td>
    </tr>
    <tr>
        <th>Position</th>
        <td th:text="${employee.position}"></td>
    </tr>
    <tr>
        <th>Join Date</th>
        <td th:text="${employee.joinDate}"></td>
    </tr>
    <tr>
        <th>Retirement Date</th>
        <td th:text="${employee.retirementDate}"></td>
    </tr>
    <tr>
        <th>Contact Information</th>
        <td th:text="${employee.contactInformation}"></td>
    </tr>
    <tr>
        <th>Address</th>
        <td th:text="${employee.address}"></td>
    </tr>
    <tr>
        <th>Project Status</th>
        <td th:text="${employee.projectStatus}"></td>
    </tr>
    <tr>
        <th>Admin Comment</th>
        <td th:text="${employee.adminComment}"></td>
    </tr>
    <tr>
        <th>Annual Quantity</th>
        <td th:text="${employee.annualQuantity}"></td>
    </tr>
</table>

<div class="center">
    <!-- 수정 폼 -->
    <form th:action="@{/admin/employee/{id}(id=${employee.id})}" method="post">
        <input type="hidden" name="_method" value="put">
        <input type="submit" value="수정">
    </form>

    <!-- 삭제 폼 -->
    <form th:action="@{/admin/employee/{id}(id=${employee.id})}" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="삭제">
    </form>
</div>
</body>
</html>
