<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee List</title>
    <link rel="stylesheet" th:href="@{/css/employee.css}">
</head>
<body>
<h1>직원 목록</h1>
<div id="buttonContainer">
    <a id="addEmployee" th:href="@{/admin/employee/employeeAdd}" class="add-button">직원 추가</a>
</div>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>이메일</th>
        <th>이름</th>
        <th>직급</th>
        <th>전화번호</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
        <td><a th:href="@{/admin/employee/employee_detail/{id}(id=${employee.id})}" th:text="${employee.id}"></a></td>
        <td th:text="${employee.email}"></td>
        <td th:text="${employee.employeeProfile.name}"></td>
        <td th:text="${employee.employeeProfile.position}"></td>
        <td th:text="${employee.employeeProfile.contactInformation}"></td>
    </tr>
    </tbody>

</table>
</body>
</html>
