<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대시보드</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<form action="/admin/employee" th:object="${loginRequest}" method="post">
<div class="container">
    <div class="sidebar">
        <ul>
            <li><a href="#">공지사항</a></li>
            <li><a th:href="@{/admin/employee/employeeList}">직원관리</a></li>
            <li><a href="#">신청서관리</a></li>
        </ul>
    </div>


    <div class="main-content">
        <div class="dashboard">

            <!-- 직원 현황 카드 -->
            <div class="dashboard-card">
                <h2>직원 현황</h2>
                <p>전체 직원 수: <span id="totalEmployees">100</span></p>
                <p>파견중: <span id="onAssignment">20</span></p>
                <p>대기중: <span id="onHold">5</span></p>
            </div>

            <!-- 신청 상태 카드 -->
            <div class="dashboard-card">
                <h2>신청 상태</h2>
                <p>월차 신청 수: <span id="vacationRequests">15</span></p>
                <p>연차 신청 수: <span id="annualLeaveRequests">8</span></p>
                <p>반차 신청 수: <span id="halfDayRequests">3</span></p>
                <p>병가 신청 수: <span id="sickLeaveRequests">2</span></p>
            </div>
        </div>
    </div>
</div>
</form>
<script src="../static/js"></script>
</body>
</html>
