<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 상세 페이지</title>
    <link rel="stylesheet" href="/css/noticeDetail.css">
</head>
<body>

<div class="container">
    <div class="notice-detail">
        <div>
            <a th:href="@{/admin/notice/list}" class="backButton">공지사항 목록</a>
        </div>
        <form th:action="@{'/admin/notice/modify/' + ${noticeDetail.id}}" method="post">
            <input type="hidden" name="_method" value="put" />
            <label for="noticeTitle"></label><input name="title" type="text" th:value="${noticeDetail.title}" id="noticeTitle">

            <div class="notice-divider"></div>
            <label for="noticeContents"></label><textarea name="content" th:text="${noticeDetail.content}" id="noticeContents"></textarea>

            <button class="editButton">수정</button>
        </form>

        <form th:action="@{'/admin/notice/delete/' + ${noticeDetail.id}}" method="post">
            <input type="hidden" name="_method" value="delete" />
            <button class="deleteButton" onclick="return confirm('정말로 삭제하시겠습니까?')">삭제</button>
        </form>
    </div>
</div>


</body>
</html>
