<!-- notice_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="/css/noticeList.css">
</head>
<body>
    <div class="container">
        <div class="notice">
            <h1>공지사항</h1>
            <h2><a href="/notice/test/"> 테스트 테스트</a></h2>
            <ul id="noticeList">
                <!-- 공지사항 목록이 여기에 추가될 것입니다. -->



            </ul>
        </div>
    </div>

    <script src="/js/noticeList.js"></script>
</body>
</html>
