<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" th:href="@{/css/noticeList.css}">
</head>
<body>
<div class="container">
    <div class="notice">
        <h1>공지사항</h1>
        <ul id="noticeList">
            <!-- 공지사항 목록이 여기에 추가될 것입니다. -->
            <li th:each="notice : ${list}" class="notice-box">
                <!-- 각 공지사항을 클릭할 수 있는 링크로 변경 -->
                <a th:href="@{'/notice/detail/' + ${notice.id}}">
                    <h2 th:text="${notice.title}"></h2>
                </a>


            </li>

        </ul>

        <a th:with="id=${123}" th:href="@{'/notice/detail/' + ${id}}">
            <h2>테스트용</h2>
        </a>


        <form th:action="@{/notice/write}" method="get">

            <button type="submit">작성하기</button>
        </form>

    </div>
</div>
</body>
</html>
