<!-- notice_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 상세 페이지</title>
    <link rel="stylesheet" href="css/notice_detail.css">
</head>
<body>
    <div class="container">
        <div class="notice-detail">
            <h1 id="noticeTitle"></h1>
            <div class="notice-divider"></div>
            <div id="noticeContents"></div>
            <div class="notice-divider"></div>
            <div class="buttons">
                <button class="editButton">수정</button>
                <button class="deleteButton">삭제</button>
            </div>
        </div>
    </div>

    <script src="js/notice_detail.js"></script>
</body>
</html>
