<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>연차 신청 목록</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <style>
        .table-wrapper tbody tr:hover {background-color: #ddd;}
        .main {
            display: flex;
            justify-content: space-between;
            align-items: center; /* 세로 중앙 정렬을 위해 추가 */
            margin-top: 10px;
        }
    </style>
    <script>
        function redirectToDetailPage(id) {
            window.location.href = '/admin/off/' + id;
        }

    </script>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <div th:replace="header :: headerFragment"></div>
            <header class="main">
                <h2>휴가신청 목록</h2>
                <div>
                    <ul class="icons">
                        <li><a href="#" class="button">검색버튼구현하기</a></li>
                    </ul>
                </div>
            </header>

            <!-- Content -->
            <section>
                <div class="table-wrapper">
                    <table>
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>신청일</th>
                            <th>사원이름</th>
                            <th>연락처</th>
                            <th>신청 구분</th>
                            <th>현재 상태</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="offList : ${offSerchList}" th:onclick="'redirectToDetailPage(' + ${offList.id} + ')'">
                            <td></td>
                            <td th:text="${offList.applicationDate}"></td>
                            <td th:text="${offList.name}"></td>
                            <td th:text="${offList.contactInfo}"></td>
                            <td th:text="${offList.requestType}"></td>
                            <td th:text="${offList.status}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>

        </div>
    </div>

    <div th:replace="sidebar :: sidebarFragment"></div>

</div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>