<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacation Application List</title>
    <link rel="stylesheet" href="css/vactionRequest.css">
</head>
<body>
    <div class="Offlist">
        <h1>연차 신청 목록</h1>
        <table>
            <thead>
                <tr>
                    <th>[사원이름]</th>
                    <th>연락처</th>
                    <th>신청일</th>
                    <th>신청 구분</th>
                    <th>신청자 코멘트</th>
                    <th>현재 상태</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="offList : ${offSerchList}">
                <td> <a th:href="@{/vacationRequestDetail/{id}(id=${offList.id})}" th:text="${offList.name}"></a></td>
                <td> <a th:href="@{/vacationRequestDetail/{id}(id=${offList.id})}" th:text="${offList.contactInfo}"></a></td>
                <td> <a th:href="@{/vacationRequestDetail/{id}(id=${offList.id})}" th:text="${offList.applicationDate}"></a></td>
                <td> <a th:href="@{/vacationRequestDetail/{id}(id=${offList.id})}" th:text="${offList.requestType}"></a></td>
                <td> <a th:href="@{/vacationRequestDetail/{id}(id=${offList.id})}" th:text="${offList.comment}"></a></td>
                <td> <a th:href="@{/vacationRequestDetail/{id}(id=${offList.id})}" th:text="${offList.status}"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
