<!-- application/details.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacation Application Details</title>
    <link rel="stylesheet" href="css/vactionRequest.css">
</head>
<body>
    <div class="application-details">
        <h1>연차 신청서</h1>
        <table>
            <tr>
                <td>사원이름:</td>
                <td>박수연</td>
            </tr>
            <tr>
                <td>시작일:</td>
                <td>2024-01-20</td>
            </tr>
            <tr>
                <td>종료일:</td>
                <td>2024-01-25</td>
            </tr>
            <tr>
                <td>휴가사용일수:</td>
                <td>5</td>
            </tr>
            <tr>
                <td>휴가종류:</td>
                <td>연차</td>
            </tr>
            <tr>
                <td>제출일:</td>
                <td>2024-01-15</td>
            </tr>
            <tr>
                <td>접수 관리자:</td>
                <td>한희원 과장</td>
            </tr>
            <tr>
                <td>접수일:</td>
                <td>2024-01-16</td>
            </tr>
            <tr>
                <td>처리 관리자:</td>
                <td>이정철 이사</td>
            </tr>
            <tr>
                <td>처리일:</td>
                <td>2024-01-16</td>
            </tr>
            <tr>
                <td>신청자 코멘트:</td>
                <td>개인사유로 연차를 신청합니다.</td>
            </tr>
            <tr>
                <td>관리자 코멘트:</td>
                <td><textarea></textarea></td>
            </tr>
        </table>
        <div class="buttons">
            <button class="approve" onclick="approveApplication()">승인</button>
            <button class="reject" onclick="rejectApplication()">반려</button>
        </div>
    </div>
    


</body>
</html>
